@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}

.carousel-item {
  height: 65vh;
  min-height: 200px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

body {
  background-color: white;
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  max-width: 1100px;
}

.h2 {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  font-size: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;

  div {
    background-color: white;
    padding: 1em;

    &:hover {
      border: 1px solid orange;
    }
  }
}

/* CARROUSEL O SLIDER*/

.slider-frame {
  align-items: center;
  justify-content: center;
  width: 800px;
  height: auto;
  margin: 50px auto 0;
  overflow: hidden;

  ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 10s infinite alternate ease-in-out;
  }

  li {
    list-style: none;
    width: 100%;
  }

  img {
    width: 100%;
  }
}

/*EL HEEADER CON TODO Y ANIMACION PARA LAS PAGS*/

.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 5px 10%;

  .logo {
    cursor: pointer;

    img {
      height: 150px;
      width: auto;
      transition: all 0.3s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &.nav-links {
    list-style: none;
  }

  .nav-links {
    li {
      display: inline-block;
      padding: 0 20px;

      &:hover {
        transform: scale(1.1);
      }
    }

    a {
      font-size: 700;
      color: rgb(2, 2, 2);
    }

    li a:hover {
      color: rgb(2, 2, 2);
    }
  }

  .btn button {
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding: 9px 25px;
    background: red;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    &:hover {
      background-color: aliceblue;
      color: blue;
      transform: scale(1.1);
    }
  }
}

/*AQUI HICE EL EFECTO CON LA TRANSICION PARA EL BOTON DE PEDIDOS*/

@keyframes slide {
  0% {
    margin-left: 0%;
  }

  20% {
    margin-left: 0%;
  }

  25% {
    margin-left: -100%;
  }

  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }

  95% {
    margin-left: -300%;
  }
}

/*esto es para futuro*/

.card {
  display: grid;
  --background:linear-gradient(to left, #f7ba2b 0%, #ea5358 100%);
  width: 190px;
  height: 254px;
  padding: 5px;
  border-radius: 1rem;
  overflow: visible;
  background: #f7ba2b;
  background: var(--background);
  position: relative;
  z-index: 1;

  &::after {
    position: absolute;
    content: "";
    top: 30px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.8);
    filter: blur(25px);
    background: #f7ba2b;
    background: var(--background);
    transition: opacity .5s;
  }
}

.card-info {
  --color:#181818;
  background: var(--color);
  color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: visible;
  border-radius: .7rem;
}

.card {
  .title {
    font-weight: bold;
    letter-spacing: .1em;
  }

  &:hover {
    &::after {
      opacity: 0;
    }

    .card-info {
      color: #f7ba2b;
      transition: color 1s;
    }
  }
}

/*Hover*/

/* Pie de pagina*/

.pie-pagina {
  width: 100%;
  background-color: red;

  .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    padding: 45px 0px;

    .box {
      figure {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 180px;
        }
      }

      h2 {
        color: white;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        font-size: 20px;
      }

      p {
        color: white;
        margin-top: 40px;
        margin-bottom: auto;
        align-items: center;
      }
    }
  }
}

/*Body paginas*/

.container {
  max-width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;

  h2 {
    justify-content: center;
  }

  img {
    height: 300px;
    align-items: center;
    justify-content: center;
  }
}

.container-form {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 90px;

  h2 {
    margin-bottom: 15px;
    font-size: 35px;
  }

  p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
  }

  a {
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: #181818;
    font-weight: 700;

    i {
      color: #f7ba2b;
      margin-right: 10px;
    }
  }

  form .campo {
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid #f7ba2b;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
  }
}

textarea {
  width: 100%;
  padding: 15px 10px;
  font-size: 15px;
  border: 1px solid #f7ba2b;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
}

.container-form {
  form textarea {
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
  }

  .btn-enviar {
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: orange;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;

    &:hover {
      background: #e39403;
    }
  }
}
